<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.wang.walker.nativeaddemo">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- DUNativeAd -->
        <meta-data
            android:name="app_license"
            android:value="b0dcd0841e59926931bf86c6b8cd98b8"/>
        <provider
            android:name="com.duapps.ad.stats.DuAdCacheProvider"
            android:authorities="com.hola.launcher.DuAdCacheProvider"
            android:exported="false"/>
        <!-- DUNativeAd -->

        <!-- GGNativeAd -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="7571000"/>
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:multiprocess="true"
            android:theme="@android:style/Theme.Translucent"/>
        <!-- GGNativeAd -->

        <!-- GDTNativeAd -->
        <service
            android:name="com.qq.e.comm.DownloadService"
            android:exported="false">
        </service>
        <activity
            android:name="com.qq.e.ads.ADActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
        </activity>
        <!-- GDTNativeAd -->

        <!-- InMobi -->
        <activity
            android:name="com.inmobi.rendering.InMobiAdActivity"
            android:configChanges="keyboardHidden|orientation|keyboard|smallestScreenSize|screenSize"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <!-- InMobi -->
    </application>

</manifest>